# @package _global_
# Config for running the OSS stack on ORD resources.
# Use the cmd line arg "+deploy=ord_oss" when calling the wizard or sbatch submit.sh

defaults:
  - /stable_manifest/oss
  - _self_

defines:
  filesystem: "/lustre/fs12/portfolios/av/projects/av_alpamayo_sim/.cache"
  nre_cache_size: 5  # Because below we have 2 sensorsim instances on each GPU

wizard:
    run_method: "SLURM"

services:
  sensorsim:
    environments:
      - OMP_NUM_THREADS=1

      # leave some room for traffic sim if enabled in sub-configs
      - PYTORCH_CUDA_ALLOC_CONF=garbage_collection_threshold:0.7

    replicas: 12 # 2 replicas per GPU, 4 instances each -> Max 8 scenes on each GPU
    gpus: [0, 1, 2, 3, 4, 5]


  driver:
    replicas: 2
    gpus: [6, 7]

  physics:
    replicas: 6
    gpus: [0, 1, 2, 3, 4, 5]

  controller:
    replicas: 6
    gpus: null

  trafficsim:
    replicas: 2
    gpus: [0, 1]

runtime:
  endpoints:
    # scaling the number of rollouts assigned to each endpoint to add up
    # # instances x # rollouts = number of rollouts
    # SENS: 12         x 4         = 48
    # DRIV: 2          x 27        = 48
    # PHYS: 6          x 8         = 48
    # CONT: 6          x 8         = 48
    sensorsim:
      n_concurrent_rollouts: 4

    driver:
      n_concurrent_rollouts: 24
      skip: false

    physics:
      n_concurrent_rollouts: 8
      skip: false

    controller:
      n_concurrent_rollouts: 8
      skip: false

    trafficsim:
      skip: true
